* {
  font-size: 18px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
  font-family: "Roboto";
}
img {
  width: 40px;
}
body {
  height: 950px;
  display: grid;
  row-gap: 20px;
  /* later finish will add more to the left grid */
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 2fr 7fr;
}
body > div {
  background-color: #fff;
}

/* this part is the sidebar */
.sideBar {
  padding: 10px;
  color: #fff;
  background-color: #60a5fa;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  gap: 80px;
}
.homeButton {
  border: 2px solid #fff;
}
.functions,
.setting {
  border-top: solid 2px #fff;
  padding-top: 2px;
}
.functions > div,
.setting > div,
.homeButton {
  border-radius: 15px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.functions > div:hover,
.setting > div:hover,
.homeButton:hover {
  cursor: pointer;
  background-color: #1e3a8a;
  transition: all 0.2s ease-in-out;
  transform: scale(106%);
}
.homeButton img {
  width: fit-content;
}
.setting > div > img,
.functions > div > img {
  justify-self: end;
}
.functions,
.setting {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

/* this part for the header */
.header {
  user-select: none;
  box-shadow: 0px 5px 5px rgb(128, 110, 110);
  display: grid;
  gap: 10px;
  padding: 10px;
}
.notification {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 10px;
}
.searching {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1px;
}
.searching > label {
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-self: end;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.searching > label:hover,
.searching > input:hover {
  border: 2px solid #1e3a8a;
  transform: scale(101%);
  transition: all 0.1s ease-in;
}
.searching > input {
  height: 30px;
  cursor: pointer;
  background-color: #dfbfbf;
  align-self: center;
  border: none;
  border-radius: 20px;
  padding: 10px;
}
.searching > input:focus {
  background-color: #ad3bbe;
  color: #fff;
  outline: none;
  border: 2px solid #1e3a8a;
}
.notification > .Profile {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 30px;
}
.bell-ring,
.Profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bell-ring:hover,
.Profile-picture:hover {
  cursor: pointer;
  border: 2px solid #1e3a8a;
  transform: scale(106%);
  transition: all 0.1s ease-in;
}
.bell-ring {
  place-self: center end;
}
.Profile-picture {
  place-self: center;
}
.Profile-name {
  cursor: pointer;
  font-weight: 700;
  width: 80%;
  height: 80%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.Profile-name:hover {
  border: 2px solid #1e3a8a;
  transform: scale(106%);
}
.status {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.banner {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  gap: 10px;
}
.banner img {
  width: 80%;
  border-radius: 50%;
  grid-row: span 2;
  justify-self: end;
}
.banner img:hover {
  cursor: pointer;
  transform: scale(106%);
  border: 2px solid #1e3a8a;
  transition: all 0.1s ease-in;
}
.banner span {
  user-select: all;
  font-weight: 700;
}
.banner span::selection {
  background-color: #60a5fa;
}
.banner > span > a {
  font-size: 28px;
  font-weight: 700;
  user-select: none;
  text-decoration: none;
}
.banner .greeting {
  align-self: flex-end;
}
.banner .account-name {
  font-size: 28px;
}
.updateStatus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.updateStatus .New {
  justify-self: end;
}
.updateStatus .Upload {
  justify-self: center;
}
.updateStatus button {
  width: 80%;
  background-color: #60a5fa;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.updateStatus button:hover {
  border: 2px solid #1e3a8a;
  transform: scale(105%);
  transition: all 0.1s ease-in;
}
/* this is for the main container */
.mainContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  padding: 30px;
}
.Project {
  grid-row: span 2;
}
.Project > header {
  height: 10%;
}
.Project > .content {
  padding: 10px;
  gap: 10px;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.announcements > header {
  height: 10%;
}
.announcements > .content {
  height: 90%;
  display: grid;
}
.Trending > header {
  height: 10%;
}
.Trending > .content {
  height: 90%;
  display: grid;
}
